doctype
html(lang='en')
  head
    title= title
    link(rel='stylesheet' href='layout.css')
  body
    div(id='header')
      a(href='http://sillydog.org/narchive/full4.php', target='_blank')
        img(src='assets/netscape_now.gif')
    != yield
    div(id='footer')
      br
      img(src="assets/under_construction.gif")
      img(src="assets/under_construction.gif")
      img(src="assets/under_construction.gif")
      br
      marquee This page is under construction
      p 'Copyright (c) 1999'
      audio(controls, autoplay)
        source(src="assets/skaterboi.mp3", type="audio/mpeg")
      br

      iframe(
        src="https://www.tinfoilsecurity.com/badge_iframe/1da1f152626e41e1e3719a37b4d66afd9a244fcf?type=b&size=2",
        sandbox="allow-popups",
        scrolling="no",
        frameborder="0",
        allowTransparency="true",
        style="border:none; overflow:hidden; width:115px; height:35px;"
      )
